*{
    padding: 0;
    margin: 0;
}
.container {
    background-color:  #544F53;
    width:65%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 5px 30px;
    margin: 0 auto;
}
.first {
    width: 31%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
#Houston {
    width: 70%;
    height: 71%;
    display : inline;
    position:relative;
    top: 15px;
    left: 35px;
}
#NewYork {
    width: 70%;
    height: 77%;
    display: inline;
    position: relative;
    top: 15px;
    left: 20px;
}
#Boston { 
    width: 90%;
    height: 54%;
    display: inline;
    position: relative;
    top: 100px;
    left: 0px;
}
figcaption{
    font-size: 35px;
    position: absolute;
    top: 83%;
    left: 1%;
}
.sub-box1, .sub-box2, .sub-box3 {
background-color: #AB1F83;
width: 22px;
height: 24px;
text-align: center;
padding-top: 6px;
}
.sub-box1 {
position: absolute;
top: 15px;
left: 35px
}
.sub-box2 {
    position: absolute;
    top: 15px;
    left: 20px;
}
.sub-box3 {
    position: absolute;
    top: 101px;
    left: 1px;}

.footer , figcaption, p {
    font-family:'Nunito Sans', sans-serif;
    color: white;
}
